<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head'); %>
</head>
<body>
	<header>
		<%- include('../partials/header'); %>
	</header>
	<br>
	<main>
		<%- include('../partials/user-list'); %>
	</main>
	<footer>
		<% if(typeof notices != 'undefined'){ %>
		<%- include('../partials/footer', {notices: notices}); %>
		<% } else{ %>  
		<%- include('../partials/footer'); %>
		<% } %>
	</footer>
</body>
</html>